<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.vegetarguide.scanner">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ScannerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ModifyProductActivity"
            android:label="@string/title_activity_modify_product"
            android:parentActivityName=".ProductDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductDetailsActivity" />
        </activity>
        <activity
            android:name=".VerifyAdditivesActivity"
            android:label="@string/title_activity_verify_additives"
            android:parentActivityName=".ModifyProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModifyProductActivity" />
        </activity>
        <activity
            android:name=".ManualInputActivity"
            android:label="@string/title_activity_manual_input"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".wizard.MetaInformation"
            android:label="Fra dyrekropper"
            android:parentActivityName=".ProductDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductDetailsActivity" />
        </activity>
        <activity
            android:name=".wizard.ObviouslyNotVegetarian"
            android:label="Fra dyrekropper"
            android:parentActivityName=".wizard.MetaInformation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wizard.MetaInformation" />
        </activity>
        <activity
            android:name=".wizard.MaybeVegan"
            android:label="Utskilt fra dyrekropper"
            android:parentActivityName=".wizard.ObviouslyNotVegetarian">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wizard.ObviouslyNotVegetarian" />
        </activity>
        <activity
            android:name=".wizard.UncertainIngredients"
            android:label="Tvilstilfeller"
            android:parentActivityName=".wizard.MaybeVegan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".wizard.MaybeVegan" />
        </activity>
        <activity
            android:name=".wizard.EnoughInformation"
            android:label="Nok informasjon"/>

        <activity android:name=".about.AboutActivity"
            android:label="Om appen"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
